.header_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: inherit;
  margin: 30px auto;
}

.landing_page_logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 180px;
  height: 50px;

  background: url(./../../svg/default_logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.landing_page_logo_light {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 180px;
  height: 50px;

  background: url(./../../svg/default_logo_light.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.menu_options_container {
  display: flex;
  align-items: center;
}

.menu_option {
  margin-right: 10px;
  padding-right: 10px;

  border-right: 2px dashed gray;
  cursor: pointer;
}

@media (max-width: 500px) {
  .content_container {
    width: 90% !important;
  }

  .header_container {
    display: block;
  }

  .menu_options_container {
    margin-top: 20px;
    justify-content: space-evenly;
    align-items: center;
  }
}
