.header_container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: 80px auto;
}

.landing_page_logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 180px;
  height: 50px;

  background: url(./../../svg/default_logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.menu_options_container {
  display: flex;
  align-items: center;
}

.menu_option {
  margin-right: 10px;
  padding-right: 10px;

  border-right: 2px dashed gray;
  cursor: pointer;
}

.light_theme_img {
  width: 30px;
  height: 30px;

  background: url(./../../svg/light_mode.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.dark_theme_img {
  width: 30px;
  height: 30px;

  background: url(./../../svg/dark_mode.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
