.width_page_container {
  margin: auto;
  width: 75%;
}

.smaller_txt {
  color: #929292;
}

.smaller_txt_dark {
  color: #4f4f4f;
}

.bigger_txt {
  color: #111111;
  text-decoration: underline;
}

.bigger_txt_dark {
  color: #eeeeee;
  text-decoration: underline;
}
